.header{
	height: 50px;
	line-height: 50px;
	background-color:rgba(0,0,0,0.8);
	color:#fff;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.header .txt{
	float: left;
}
.header .login-register{
	float: right;
	margin-left: 20px;
	color:#fff;
}
.header .txt a{
	margin-left: 20px;
	color:#fff;
}

.nav-box{
	background:#333;
	margin-top: 30px;
	padding: 0 20px;
}
.nav-box li{
	float: left;
	margin-right: 15px;
}

.nav-box li a{
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
}
.nav-box li a:hover{
	background: #666;
	text-decoration: none;
}
.nav-box li.active a{
	background: #666;
}

.footer{
	height: 100px;
	line-height: 100px;
	background: #333;
	margin-top: 50px;
	color:#fff;
	text-align: center;
}


.notice-form{
	padding: 0 50px;
}

.notice-form .ipt-submit{
	text-align: center;
}
.notice-form .ipt-submit button{
	padding-left:100px;
	padding-right:100px;
}

.tit-type-2 .tit{
	font-size: 16px;
	font-weight: bold;

}
.tit-type-2 .more{
	
}





